<h1>Library Books</h1>
<% if current_user %>
  <ul>
    <% @books.each do |book| %>
      <li>
        <%= link_to book.title, book_path(book) %> by <%= book.author %>
        <% if book.borrowings.exists? %>
          <span>(Currently Borrowed)</span>
        <% else %>
          <span>(Available)</span>
          <%= link_to 'Borrow', borrowings_path(book_id: book.id), method: :post %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You need to be signed in to borrow books.</p>
<% end %>

